@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:wght@100..900&display=swap');

body {
    font-family: "Raleway", sans-serif; 
    line-height: 1.5;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    height: auto;
}
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

h4 {
    color: #00000066;

}

span {
    color: #00000066;
}




.welcome {
    background-image: url(/assets/img/back-ground.png);
    background-size: 100% auto; 
    background-repeat: no-repeat;
    background-position: center top; 
    width: 100vw; 
    min-height: 500px; 
    overflow-x: hidden; 
}
    

/*.welcome background-img{
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;

}
*/

.header {
    justify-content: space-between;
    height: 90px;

}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute; 
    left: 20px; 

}
.nav{
}

    
.nav ul{
display: flex

}
.nav_list {
    display: flex;
    gap: 22px;
    align-items: center;
    
}
.nav_item {

}

.btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 167px;
    height: 56px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    
    
    
}

.btn:hover{
    opacity: 0.7;
}



.nav_site {
    display: flex;
    gap: 10px;
    position: absolute; 
    right: 170px; 
    top: 0;
    z-index: 2; 
}
.nav_img {

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* about */


.container-about{
    padding: 120px 0 120px 176px; 
    width: 100%;
    max-width: 1920; 
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.master-avatar img {
    width: 100%;
    object-fit: cover;
}

.master-avatar {
    width: 100px;
    top: 260px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-right: 20px;
    overflow: hidden;
    position: fixed;
}

.contact-btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 167px;
    height: 56px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}


/* feetback*/

.container-feetback {

}

.comment-block {

}

.comment-header {
    
}

.comment-author {  

}

.comment-info {

}

.comment-text {

}